NODE_ENV=development
PORT=3000
DATABASE_LOCAL=mongodb://localhost:27017/natours

JWT_SECRET=type-a-random-32-char-word-here!
JWT_EXPIRES_IN=90d

EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=